<!DOCTYPE html>
<!--
Team Team : Alif Abdullah, Eric Guo, Shadman Rakib Period 2
SoftDev
K13 - To create a flask app that randomly chooses and displays an occupation based on a template
10/8/21
<html>
-->
 <head>
   <title> {{ title }} </title>
 </head>

 <body>
{{names}}<br>
{{course}}<br>
{{assignment}}<br>
{{date}}<br>
<br>
{{tnpg}}
<br>
<br>
{{chosenJob}}
<br> <br>
{% for item in collection %}
     {{ item }}  {{tab_space}} {{collection[item]}}% 
     <br>
    {% endfor %}

<br>

 </body>

</html>